<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vm.profile">
    <form role="form" class="settings" ng-submit="vm.update()">
      <div class="form-group">
        <label for="settings__email">E-mail</label>
        <input type="text" class="form-control" id="settings__email" ng-model="vm.profile.email" placeholder="ex. john@example.com" />
      </div>

      <div class="form-group">
        <label for="settings__password">Nowe hasło</label>
        <input type="password" class="form-control" id="settings__password" ng-model="vm.profile.password" placeholder="np. hasło" />
      </div>

      <div class="form-group">
        <label for="settings__confirm-password">Potwierdź hasło</label>
        <input type="password" class="form-control" id="settings__confirm-password" ng-model="vm.profile.confirm_password" placeholder="np. hasło" />
      </div>

      <div class="form-group">
        <label for="settings__username">Nazwa użytkownika</label>
        <input type="text" class="form-control" id="settings__username" ng-model="vm.profile.username" placeholder="ex. notgoogleplus" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.destroy()">Usuń konto</button>
      </div>
    </form>
  </div>
</div>